<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="authService.getUserType() === 'admin'">
    <div *ngIf="rooms.length <= 0">
      <div class="wrapper">
        <ion-button (click)="presentAlertPrompt()" expand="block"
          >Create Rooms</ion-button
        >
      </div>
    </div>
    <div *ngIf="rooms.length > 0">
      <div class="row margin-top-20px">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">Search Room</span>
            <input
              type="text"
              class="form-control"
              id="search"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>
        <ion-button (click)="presentAlertPrompt()" expand="block"
          >Create Rooms</ion-button
        >
      </div>
      <div class="row margin-top-5px">
        <div class="col-sm-3 padding-5px-30px" *ngFor="let room of rooms">
          <div class="border-style text-center list-box">
            <img
              src="assets/images/door.jpg"
              class="door"
              (click)="goToApartment(room._id, room.user)"
            />
            <p
              [ngClass]="
                room.isVacant == true
                  ? 'label label-success'
                  : 'label label-info'
              "
            >
              Room Number : {{ room.roomnumber }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <ng-template #template>
            <div class="modal-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Rooms</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Enter Number of Rooms</label>
                                <input type="text" class="form-control" [(ngModel)]="roomnumber" name="roomnumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="createRooms()">Create</button>
                </div>
            </div>
        </ng-template> -->
  </div>
  <div *ngIf="authService.getUserType() !== 'admin'">
    <div class="margin-top-20px">
      <div class="row margin-top-5px">
        <div *ngIf="images.length>0">
          <div class="col-sm-3" *ngFor="let image of images">
            <div class="">
              <div>
                <img [src]="this.authService.prepEndpoint('home/image/')+image.filename" class="door" />
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="images.length === 0">
          <div class="wrapper">
            <p>No Data Available!!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
