.num,
.enter,
.delete {
  text-align: center;
  padding: 5%;
  border: 1px solid;
  width: 20%;
  float: left;
  margin: 1% auto;
  border-radius: 30%;
  cursor: pointer;
}
.numberpad {
  width: 100%;
  margin: 1% auto;
}
.num-row {
  display: flex;
}
.no-border {
  border: 0px !important;
}
.camera-canvas {
  text-align: center;
  margin-top: 10%;
}

.input-style {
  margin-top: 10%;
  height: 100%;
  font-size: 3em;
}
.video-style{
  width: 100%;
}