<div class="side-navbar">
    <ul class="list-group">
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact : true }"
            class="list-group-item" [routerLink]="['/home']">Home</li>
        <li *ngIf="authService.loggedIn() && (authService.getUserType() !== 'admin')" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact : true }"
            class="list-group-item" [routerLink]="['/apartment']">Profile</li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact : true }"
            class="list-group-item" (click)="onLogoutClick()">Logout</li>
    </ul>
</div>